# Configuración general del sistema
TZ=Europe/Madrid
PAPERLESS_URL=http://paperless.home.arpa

# Credenciales de administración iniciales (¡Cámbialas en producción!)
PAPERLESS_ADMIN_USER=dont_use_admin
PAPERLESS_ADMIN_PASSWORD=changeme_secure_password

# Conexión con Redis (nombre del contenedor o servicio y puerto)
PAPERLESS_REDIS=redis://redis-paperless:6379

# Configuración de la Base de Datos Externa (PostgreSQL / MariaDB)
PAPERLESS_DBENGINE=mariadb
PAPERLESS_DBHOST=mariadb-host
PAPERLESS_DBPORT=5432
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_DBPASS=su_password_de_base_de_datos

# Configuración de OCR y Rendimiento
PAPERLESS_OCR_LANGUAGE=es
PAPERLESS_TIME_ZONE=Europe/Madrid
PAPERLESS_CONSUMER_POLLING=60
PAPERLESS_TASK_WORKERS=2
PAPERLESS_THREADS_PER_WORKER=1
PAPERLESS_WEBSERVER_WORKERS=2
